:root {
    --secondary-light: #aaa;
    --success-light: #B2C248;
}


.text-white-50 {
    color: var(--secondary-light) !important;
}

.text-success-light {
    color:var(--success-light) !important;
}

.btn-success-light {
    background-color: var(--success-light);
    border-color: var(--success-light);

}

/* navbar */

#nav-big-logo-brand, #nav-big-items{
    color: var(--secondary-light) !important;
}

.nav-link > svg {
    fill: var(--secondary-light) !important;
}

.text-white-50 > svg {
    fill: var(--secondary-light) !important;
}

/* just add class active for icon and nav text to become green */

.nav-link.active > svg {
    fill: var(--success-light) !important;
}

.nav-link.active {
    color: var(--success-light) !important;
}